<title>Envio de arquivo</title>


<form action="/" method="post" enctype="multipart/form-data">
    <label>Selecione o arquivo em formato csv</label>
    <br />
    <input name="documento" id="documento" type="file" accept=".csv" required>

    <button class="btn btn-outline-primary" type="submit">Enviar</button>
</form>